<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include("../includes/nav.ejs") %>

    <main>
      <% if(prods.length > 0){ %>
      <div class="grid">
        <% for(const item of prods){ %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= item.title%></h1>
          </header>
          <div class="card__image">
            <img
              src="<%= item.photo%>"
              alt="<%= item.title%>"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$<%= item.price%></h2>
            <p class="product__description">
              <%= item.description%>
            </p>
          </div>
          <div class="card__actions">
            <a href="/admin/edit-product" class="btn">Edit</a>
            <form action="/admin/delete-product" method="post">
              <button class="btn" type="submit">Delete</button>
            </form>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <p>No Items found</p>
      <% } %>
    </main>
    <%- include("../includes/end.ejs") %>