<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul>
                <% if(productsData.length>0){ %>
                <%for(const prod of productsData){ %>
                <li>
                    <p><%= prod.product.title %> (<%=prod.qty%>)</p>
                    <form action="/cart-delete-item" method="POST">
                        <button class="btn" type="submit">Delete</button>
                        <input type="hidden" value="<%= prod.product.id %>" name="prodId">
                        <input type="hidden" value="<%= prod.product.price %>" name="prodPrice">
                    </form>
                </li>
                <% }%>
                <%}else{ %>
                <h1>No Items in the cart</h1>

                <%}%>
                </ul>
        </main>
        <%- include('../includes/end.ejs') %>