<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
              <h1>
                  <%= product.title %>
              </h1>
          <hr>
          <div class="image">
              <img style="max-width:100% ;" src="<%= product.imageUrl %>" alt="<%= product.title %>">
          </div>
         
              <h2 class="product__price">$
                  <%= product.price %>
              </h2>
              <p class="product__description">
                  <%= product.description %>
              </p>
          </div>
          <div class="card__actions">
            <% if(isAuthenticated){ %>
                <%- include("../includes/add-to-cart.ejs", {product:product}) %>
                <%}%>
          </div>
      </article>
    </main>
    <%- include('../includes/end.ejs') %>